<h2>Charts</h2>

<p>
<%= link_to "Back", events_path, :class => 'btn btn-primary' %>
</p>

<h3>Feeding</h3>
<%= area_chart feedings_events_path %>

<h3>Wet Diapers</h3>
<%= column_chart wet_diapers_events_path, :library => {:colors => ["#fb1"]} %>

<h3>Dirty Diapers</h3>
<%= column_chart dirty_diapers_events_path, :library => {:colors => ["#861"]} %>
