<p>
<%= link_to "Back", events_path, :class => 'btn btn-primary' %>
<%= link_to "Report", report_events_path, :class => 'btn btn-primary' %>
<%= link_to "Chart", chart_events_path, :class => 'btn btn-primary' %>
</p>

<%= render 'form' %>
